h1 , .txt-cl-blue {
    color:blue;
}

h2 {
    color:green;
}



.txt-cl-orange {
    color: orange;
}

.txt-cl-purple {
    color: purple;
}

ol li {
    color: pink;
}

.olympiades {
    color: grey;
}

.txt-cl-blue {
    color: blue;
}

.txt-italic {
    font-style: italic;
}